.hero {
  background-image: url('/public/LembreteAcademia.png');
  background-size: cover;
  background-position: center;
  padding: 40px 20px; /* Adiciona padding nas laterais */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Altura mínima */
}

.login-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Bordas arredondadas */
  max-width: 400px; /* Largura máxima do formulário */
  width: 100%; /* Para ocupar a largura total */
}

.input-group {
  margin-bottom: 15px; /* Espaçamento entre os campos */
}

.input {
  width: 100%; /* Campo ocupa toda a largura disponível */
  padding: 10px; /* Espaçamento interno do campo */
  border: 1px solid #ccc; /* Borda do campo */
  border-radius: 4px; /* Borda arredondada */
}

.button {
  background-color: #4CAF50; /* Cor do botão */
  color: white; /* Cor do texto do botão */
  padding: 10px 15px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 4px; /* Bordas arredondadas */
  cursor: pointer; /* Adiciona um ponteiro ao passar o mouse */
}

.button:hover {
  background-color: #45a049; /* Cor do botão ao passar o mouse */
}

.link {
  margin-top: 10px; /* Espaçamento acima do link */
}
