.hero {
  background-image: url('/public/LembreteAcademia.png');
  background-size: cover;
  background-position: center;
  padding: 40px 20px; /* Adiciona padding nas laterais */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.horariosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px; /* Largura máxima */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente */
}

.horariosTitle {
  font-size: 1.1em;
  color: #333;
  margin: 0;
}

.horariosTime {
  font-size: 0.9em;
  color: #666;
}

.horariosElement {
  flex: 1 1 calc(50% - 20px); /* Largura responsiva */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Ajustado para um melhor espaço interno */
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 0.9em;
  transition: transform 0.2s, background-color 0.2s; /* Transição suave */
  position: relative; /* Para o posicionamento da informação adicional */
  margin-bottom: 20px; /* Espaço inferior para evitar sobreposição */
}

.additionalInfo {
  margin-left: 10px; /* Espaçamento entre o horário e a informação adicional */
  font-size: 0.8em; /* Tamanho da fonte para a informação adicional */
  color: #666; /* Cor do texto da informação adicional */
  display: none; /* Oculta por padrão */
}

/* Mostrar a informação adicional ao passar o mouse */
.horariosElement:hover .additionalInfo {
  display: block; /* Exibe a informação ao passar o mouse */
}

/* Efeito ao passar o mouse na caixa principal */
.horariosElement:hover {
  background-color: #bba4c5; /* Cor lilás ao passar o mouse */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .horariosContainer {
    max-width: 90%; /* Mantém a centralização sem colar nas bordas */
  }

  .horariosElement {
    flex: 1 1 100%; /* Empilha os itens */
  }
}

@media (max-width: 480px) {
  .horariosElement {
    padding: 6px;
  }
}
