.informacoes { 
  background-color: #a89eac; /* Cor de fundo */
  padding: 5px 10px; /* Reduz o espaçamento interno */
  width: 100%; /* Garante que o contêiner ocupe 100% da largura */
  height: auto; /* Altura automática para ajustar ao conteúdo */
  display: flex; /* Permite o uso de flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  font-family: 'Russo One', sans-serif; /* Aplica a fonte Russo One */
}

.informacoesContainer {
  text-align: center; /* Alinha o texto ao centro */
}

.informacoes h3, .informacoes p {
  font-size: 12px; /* Tamanho da fonte reduzido */
  line-height: 1.2; /* Reduz a altura da linha para compactar o texto */
  margin-bottom: 5px; /* Espaçamento inferior reduzido */
  width: 100%; /* Garante que a largura seja total */
}

.informacoes .noBreak {
  white-space: nowrap; /* Impede a quebra de linha */
}
