.informacoes { 
  background-color: #a89eac; /* Cor de fundo */
  padding: 10px 150px; /* Espaçamento interno: 10px em cima/embaixo e 20px à esquerda/direita */
  width: calc(100% - 40px); /* Garante que o contêiner ocupe 100% da largura, subtraindo o padding lateral */
  text-align: left; /* Alinha o texto ao centro */
  font-family: 'Russo One', sans-serif; /* Aplica a fonte Russo One */
  display: flex; /* Permite o uso de flexbox */
  flex-direction: column; /* Coloca os itens em coluna */
  height: auto; /* Garante que o contêiner tenha altura automática */
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

.informacoes-container {
  width: 100%; /* Garante que o contêiner interno ocupe 100% da largura */
  display: flex; /* Permite que os itens internos sejam flexíveis */
  flex-direction: column; /* Organiza os itens em coluna */
}

.informacoes h3, .informacoes p {
  font-size: 14px; /* Tamanho da fonte menor */
  line-height: 1.4; /* Aumenta a altura da linha */
  margin-bottom: 10px; /* Espaçamento inferior */
  width: 100%; /* Garante que a largura seja total */
}

.informacoes h3 {
  font-weight: bold; /* Deixa o título em negrito */
}

.informacoes p {
  font-weight: normal; /* Deixa o texto normal */
}

.informacoes .no-break {
  white-space: nowrap; /* Impede a quebra de linha */
}

.informacoes strong {
  font-weight: bold; /* Garante que o texto em negrito seja mais destacado */
}
