.hero {  
  position: relative; 
  background-image: url('/public/LembreteAcademia.png'); 
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px; 
  width: 100%; 
  height: 100vh; 
  box-sizing: border-box; 
  display: flex; 
  align-items: flex-start; 
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 1; 
}

.contentContainer {
  display: flex; 
  width: 100%; 
}

.leftContainer, .rightContainer {
  width: 50%; /* Cada lado ocupa metade da largura */
  display: flex; 
  flex-direction: column; /* Organiza os itens em coluna */
  padding: 20px; /* Espaçamento interno */
}

.textContainer {
  flex: 1; /* Faz o texto ocupar o espaço restante */
  padding: 20px; 
  text-align: justify; 
}

.imageContainer {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; /* Espaço entre o texto e a imagem */
}

.imageContainerBottom {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; /* Espaço entre o texto e a imagem */
}

.image {
  max-width: 85%; 
  height: auto; 
  object-fit: contain; 
}

.hoursContainer {
  display: flex; /* Usar flexbox para alinhar itens */
  flex-direction: column; /* Manter o texto em coluna */
  padding: 20px; 
  text-align: left; 
  color: white; 
  margin-left: 80px; /* Aumente a margem à esquerda para mover mais para a direita */
  justify-content: flex-start; /* Alinha os itens ao topo */
}
