.hero {    
  position: relative; 
  background-image: url('/public/LembreteAcademia.png'); 
  background-size: cover; /* Garante que a imagem cubra toda a área */
  background-position: center; /* Centraliza a imagem no contêiner */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  color: white;
  padding: 100px; 
  width: 100%; 
  height: auto; /* Ajusta a altura conforme o conteúdo */
  min-height: 100vh; /* Garante que o fundo ocupe pelo menos 100% da altura da viewport */
  box-sizing: border-box; 
  display: flex; 
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  z-index: 1; 
  margin-bottom: 0; /* Remove margens brancas adicionais */
}

@media (max-width: 768px) {
  .hero {
    padding: 50px; /* Ajusta o padding em telas menores */
    background-position: top; /* Alinha a imagem no topo em telas menores */
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 30px; /* Reduz ainda mais o padding em telas pequenas */
    background-position: top; /* Mantém a imagem alinhada ao topo */
  }
}


.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: -1; 
}

.contentContainer {
  display: flex; 
  width: 100%; 
}

.leftContainer, .rightContainer {
  width: 50%; 
  display: flex; 
  flex-direction: column;
  padding: 20px; 
}

.textContainer {
  flex: 1; 
  padding: 20px; 
  text-align: justify; 
}

.imageContainer, .imageContainerBottom {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}

.image {
  max-width: 90%; 
  height: auto; 
  object-fit: contain; 
}

.hoursContainer {
  display: flex; 
  flex-direction: column; 
  padding: 20px; 
  text-align: left; 
  color: white; 
  margin-left: 80px; 
  justify-content: flex-start; 
}
